body{
	> footer{
		background: #333;
		padding: 20px 0 0; //primeiro é TOP, depois RIGHT, depois BOTTOM
		> .conteiner{
			margin-bottom: 95px;
		}
		#footer-sidebar{
			> .footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);
				> h4.widget__title{

					position: relative;
					margin: 12px 0;
					height: 36px;
					text-indent: 12px;
					color: #fff;
					font: 22px $font_main;
					padding-top: 3px;
					
					> span{
						display: block;
						width: 4px;
						height: 36px;
						position: absolute;
						top: 0;
						left: 0;
						background: #c72327;
						
					}
				}
				p{
					color: #777;
					font: bold 11px $font_main;
				}
				> ul#fotos{
					list-style: none;
					padding: 0;
					> li{
						float: left;
						display: inline;
						width: 30%; //faço (30*3) pq sao 3 itens, depois oq sobrar distribuo para o margin
						margin: 0 5% 5% 0; //Primeiro parametro: Top, right, botton, left.
						&:nth-child(3n){ //como se fosse função, quando atingir 3 imagens, icones, ele da margin right
							margin-right: 0;
						}
					}
				}

				//Texto sobre ira alinhar
				&.footer-widget--about{
					a{
						display: block;
						width: 60%;
					}
					p{
						width: 75%;
						text-align: justify;
						margin: 20px 0 0;
					}
				}
			}
		}
		> #redes-sociais{ 
			background: #555;
			padding: 10px 0;

			#redes-sociais__container{
				@include make-md-column(12);//pego 12 colunas
				> ul#redes-sociais__icons{
					float: right;
					> li{
						display:inline; //Ficar lado a lado no rodapé
						float: left;
						margin-right: 5px;
						> a.icon{
							display:block;
							@extend .sprite_redes_sociais;

							&,
							&:hover{
								transition: all 0.2s linear;
							}

							&.icon--facebook{
								@include sprite-define(30px, 30px, -5px, -131px); // altura, largura, x e depois y. (x e y são negativos)
								&:hover{//quando colocar mouse trocará a imagem
									background-position: -5px -89px;
								}
							}
							&.icon--twitter{
								@include sprite-define(30px, 30px, -5px, -551px);
								&:hover{//quando colocar mouse trocará a imagem
									background-position: -5px -509px;
								}
							}
							&.icon--youtube{
								@include sprite-define(30px, 30px, -6px, -719px);
								&:hover{//quando colocar mouse trocará a imagem
									background-position: -5px -677px;
								}
							}
							&.icon--gplus{
								@include sprite-define(30px, 30px, -5px, -299px);
								&:hover{//quando colocar mouse trocará a imagem
									background-position: -5px -256px;
								}
							}
						}
					}
					> :last-child{ //ultimo item será de 0px;
						margin-right: 0;
					}
				}
			}
		}
	}
}